<div class="tagskills">
    <h4>Mon Parcours  <br>Moi, c'est Tom au départ, je suis entré dans une école de cuisine, oui oui, j'étais voué à être cuisinier,
        j'ai
        poursuivie mes études jusqu'au BTS, mais c'est là que la covid est arrivé , après une remise en question sur
        ce que
        je voulais vraiment faire, j'ai décidé de passer un bilan de compétence via la mission locale, ce qui ma
        permis d'y voir un peu plus clair sur mes envies et besoins. <br> </h4>

    <h4>
        À ce moment-là, nous sommes en 2022, je travaille depuis deux ans en grande distribution et suite à des
        discussions avec un ami développeur et d'autre enquete metiers sur d'autres domaines
        je me
        lance dans le grand bain de l'informatique à ynov campus en septembre 2022 ou j'étudie le réseau
        l'infrastructure
        , Linux et aussi le développement plus généraliste. <br>
        Avant ynov, j'avais déjà commencé grâce à free code camps, suite à ça en 2023 j'obtiens ma certification
        responsive web design en parallèle de mes cours a ynov</h4>


</div>
<div class="tagskills">
    <div class="profile-image">
        <img src="../../assets/img/foot1.JPG" alt="profil">
    </div>
    <h4>je pratique le foot en club de façon très régulière en compétition depuis plus de 15 ans , j'ai recemment decouvert le futsal que je pratique depuis 4 ans </h4>
  
    <div class="profile-image">
        <img src="../../assets/img/course2.jpg" alt="profil">
    </div>
    <h4>passionner de courses à pied depuis peu, je cours depuis 3 ans, j'ai déjà fait le semi-marathon et marathon de lions et je continue de courir de temps en temps </h4>
  
</div>
