<div class="box">
    <div class="header">
        <div class="profile-image">
            <img src="../../assets/img/player.png" alt="Player Image">
        </div>
        <h2>Sokoban</h2>
    </div>
    <p class="description">Skoban est un jeu de réflexion captivant basé sur le célèbre jeu de puzzle Sokoban, conçu
        pour les navigateurs web grâce à l'utilisation habile de HTML, CSS, et JavaScript. Dans ce jeu, le joueur
        est
        chargé de déplacer des caisses dans un entrepôt en vue de les placer sur des emplacements ciblés,
        représentés
        par des marqueurs distincts.

        L'interface utilisateur de Skoban est épurée et intuitive, permettant aux joueurs de se concentrer
        pleinement
        sur les défis de puzzle qui s'intensifient à chaque niveau.</p>
    <div class="tags">
        <div class="tag">HTML</div>
        <div class="tag">CSS</div>
        <div class="tag">JS</div>
    </div>
    <div class="card">
        <img src="../../assets/img/sokobanjeux.png" alt="Player Image">
    </div>
    <div class="card">
        <img src="../../assets/img/nyancss.png" alt="Player Image">
    </div>
    <div class="mon-composant-container">
        <a href="https://godafflig.github.io/sokoban/" class="neon-button"> JOUER </a>
    </div>
</div>