<div class="box">
    <div class="card1">
        <div class="header">
            <h2>Ca roule ma poule</h2>
        </div>
        <p class="description">Ça roule ma poule est un site web de réservation de véhicules : le site a plusieurs
            Fonctionaliste, création d'un utilisateur, il est possible de se connecter avec son compte et si vous avez
            un compte alors vous pouvait réserver un véhicule . Les véhicules peuvent être réservé seulement s'ils sont
            disponible. Vous pouvez ajouter votre véhicule à vos favoris, noter et laisser un avis sur votre réservation.
        <div class="tags">
            <div class="tag">PHP</div>
            <div class="tag">TWIG</div>
            <div class="tag">CSS</div>
            <div class="tag">DOCKER</div>
        </div>
    </div>
    <div class="card">
        <img src="../../assets/img/caroulehome.png" alt="home site web">
    </div>
    
    <div class="card">
        <img src="../../assets/img/carouleconn.png" alt="home site web">
    </div>
    <div class="card">
        <img src="../../assets/img/carouleprofil.png" alt="home site web">
    </div>
    <div class="card">
        <img src="../../assets/img/caroulereservation.png" alt="home site web">
    </div>
    <div class="mon-composant-container">
        <a href="https://github.com/B2-Info-23-24/php-godafflig" class="neon-button">lien vers le github du projet</a>
    </div>



</div>