.formulaire {
  display: flex;
  flex-direction: column;
  max-width: 500px; // Limite la largeur maximale du formulaire
  margin: 0 auto; // Centre le formulaire horizontalement
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Un peu d'ombre pour le style
  border-radius: 8px; // Bordures arrondies

  p {
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%; // Pleine largeur
    padding: 10px;
    margin-bottom: 15px; // Espace entre les champs
    border: 1px solid #ccc;
    border-radius: 4px; // Bordures arrondies pour les champs de texte

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  textarea {
    height: 150px; // Hauteur fixe pour le textarea
    resize: vertical; // Permettre uniquement le redimensionnement vertical
  }

  .mon-composant-container {
    display: flex;
    justify-content: center; // Centre le bouton dans le conteneur
  }

  .neon-button {
    padding: 10px 20px;
    border: none;
    background-color: #253238;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(#253238, 10%);
    }

    i.fa {
      margin: 0;
    }
  }
}

// Media queries pour la responsivité
@media (max-width: 768px) {
  .formulaire {
    width: auto; // Pleine largeur sur les petits écrans
    margin: 15px; // Plus de marge sur les petits écrans
  }
}

@media (max-width: 576px) {
  .formulaire {
    .neon-button {
      width: 100%; // Bouton pleine largeur sur les très petits écrans
    }
  }
}
.box2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border: 3px solid #253238;
  border-radius: 20px;
  gap: 30px;
  padding: 10px;
}
.neon-button {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  position: relative;

}



.neon-button::after {
  content: "";
  position: absolute;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;

}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}