<div class="tags">
    <div class="tag">Figma</div>
    <div class="tag">xml</div>
    <div class="tag">Java</div>
</div>
<div class="box">
    <div class="card1">
        <div class="header">
            <div class="profile-image">
                <img src="../../assets/img/logoep.jpg" alt="Player Image">
            </div>
            <h2>EasyPitch</h2>
            <p class="description">EasyPitch est une application destinée aux étudiants. Son objectif est de fournir des
                conseils et des plans pour préparer leur présentation orale. Ce projet a été porté par Alexandre Cenis
                (professeur de communication et conférencier à Ynov Campus) et développé par moi-même et Romain Fenzel.
                Pendant ce projet, j'ai réalisé des maquettes sur Figma. C'est un projet d'application mobile. Nous avons
                travaillé sur Android Studio. J'ai appris à maîtriser ce logiciel ainsi que le Java et le XML.</p>
        </div>
        
    </div>
    
    <div class="card">
        <img src="../../assets/img/maquette4.png" alt="Player Image">
    </div>
    <div class="card">
        <img src="../../assets/img/maquette2.png" alt="Player Image">
    </div>
    <div class="card">
        <video autoplay src="../../assets/img/easypitchvideo.mp4" alt="Player Image"></video>
    </div>
</div>