.mon-composant-container {
  // background: radial-gradient(circle 150px at center, var(--clr-bg), #EEEEEE);EEEEEE
  // background: radial-gradient(var(--clr-bg), #ffff);
  font-family: "Balsamiq Sans", cursive;
  color: var(--clr-neon);
  --clr-neon: #263238;
  --clr-bg: #fffffF;
  box-sizing: border-box;
  margin: 0;
}

.box {
  align-items: center;
  width: 100%;
  flex-direction: column;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-left: auto;
}

.neon-button {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  position: relative;

}



.neon-button::after {
  content: "";
  position: absolute;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;

}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.card {
  background-color: #282828;
  color: #fff;
  border-radius: 8px;
  padding: 7px;
  font-family: 'Arial', sans-serif;
  max-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.profile-image {
  width: 150px;
  height: 150px;
  margin-left: 80px;
}

.profile-image img {
  width: 217px;
  height: 289px;
  margin: 10px 10px 10px 10px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  grid-template-columns: fr;
  column-width: 15em;
  column-rule: 1px solid rgb(75, 70, 74);
  margin: 5%;

}

.spotify-stats {
  font-weight: bold;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.tag {
  background-color: #253238;
  color: #fff;
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 12px;
  gap: 30px;
}

@media (min-width: 2000px) {
  body {
    font-size: 3em;
    /* Ceci augmentera la taille de la police pour tout le texte dans le body */
  }


}

@media (min-width: 1500px) and (max-width: 2000px) {
  body {
    font-size: 2em;
    /* Ceci augmentera la taille de la police pour tout le texte dans le body */
  }



  /* Si vous souhaitez également cibler d'autres éléments spécifiques, vous pouvez les ajouter ici */
}






/* Si vous souhaitez également cibler d'autres éléments spécifiques, vous pouvez les ajouter ici */


.box2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

@media (max-width: 500px) {
  body {
    /* Ceci augmentera la taille de la police pour tout le texte dans le body */
  }

  .profile-image img {
    width: 100px;
    height: 140px;
  }

  * {
    font-size: small;
  }

  .box {

    display: flex;


  }


}