<div class="box">
    <div class="tags">
        <h1>bienvenue sur mon portfolio </h1>
    </div>
    <div class="header">
        <div class="profile-image">
            <img src="../../assets/img/Moi.png" alt="profil">
        </div>
        
        
    </div>
    
    <div class="tagskills">
        <h4>Bonjour Je m’appelle Tom .Je suis un
            Développeur web créatif. J'aime créer des sites internet interactif et fluide pour rendre l'expérience
            Aux utilisateurs le plus agréable possible.</h4>
        <h2>Actuellement à la recherche d'un stage et d'une alternance dans le développement web front </h2><i
            class="fab fa-exclamation"></i>

    </div>
    
    <div class="tagskills">
        <div class="tagsk">Créatif</div>
        <div class="tagsk">Front-end</div>
        <div class="tagsk">design-thinking</div>
        <div class="tagsk">relationelle</div>
        <div class="tagsk">travail en equipe</div>
        <div class="tagsk">patiente</div>

        <div class="tagsk"><i class="fab fa-php fa-2x"></i></div>
        <div class="tagsk"><i class="fab fa-css3 fa-2x"></i></div>
        <div class="tagsk"><i class="fab fa-html5 fa-2x"></i></div>
        <div class="tagsk"><i class="fab fa-js fa-2x"></i></div>
        
    </div>
    <div class="free">
        <img src="../../assets/img/freecoedcamps.png" alt="profil">
    </div>


    
</div>