<div class="box">
    <div class="card1">
        <div class="header">
            <h1>Bienvenue</h1>
        </div>
        <p class="description">Je m’appelle Tom et je suis actuellement en bachelier informatique au campus Ynov en
            deuxième année. Je suis un
            Développeur web créatif. J'aime créer des sites internet interactif et fluide pour rendre l'expérience
            Aux utilisateurs le plus agréable possible. Je suis principalement intéressé par la création d'interface
            (web-mobile, web), mon outil préfère Figma. Je suis confiant sur ma capacité a créé des sites adaptatifs a
            tous les écrans (responsive), notamment grâce à ma certification freeCodeCamp responsive webdesign (300
            heures).
        <div class="tags">
            <div class="tag">Créatif</div>
            <div class="tag">Front-end</div>
            <div class="tag">design-thinking</div>
            <div class="tag">relationelle</div>
            <div class="tag">travail en equipe</div>
        </div>
    </div>


    <div class="box2">
        <div class="mon-composant-container">
            <a href="https://www.linkedin.com/in/tom-benat-764a171a1/" class="neon-button">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>
        <div class="mon-composant-container">
            <a href="https://www.linkedin.com/in/tom-benat-764a171a1/" class="neon-button">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </div>



</div>