<div class="header" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <img src="../../assets/img/IMG_20230901_115317.jpg" alt="photo de profil tom benat"
        style="width: 20%; height: 20%; border-radius: 70%;">
    <h1>Tom Benat</h1>
</div>
<div class="card">
    <div class="card-head">Pourquoi me choisir</div>
    <div class="card-body">
        <p>Passionné par la programmation et passionné par le développement web, Étudiant motivé et dynamique cherchant
            à mettre à profit ses compétences dans une mission d'été en intérim, alliant enthousiasme et efficacité pour
            contribuer positivement à l'équipe et atteindre les objectifs de l'entreprise</p>
    </div>

</div>
<div class="card">
    <div class="card-head">Ma formation</div>
    <div class="card-body">
        <p>

            <li>Bachelor informatique à Ynov | 2022-2026 Développement, Développement web , Infrastructure et SI ,
                Réseaux, projet
                pluridisciplinaire.</li>

            <li>BTS MHR | 2018-2020
                Ecole hôtelière de Tain l'Hermitage</li>

            <li>Jehanne de france | 2014-2017
                Baccalauréat pro cuisine</li>
        </p>
    </div>

</div>

<div class="card">
    <div class="card-head">Mes projets</div>
    <div class="card-body">
        <ul>
            <li>
                <strong>BiggerThanMe (BTM) 2022 | 2023</strong>
                <p>Projet de média sportif autour de la région lyonnaise</p>
                <ul>
                    <li>Mon rôle en tant que développeur web :</li>
                    <li>Création de pages web responsive (vanilla)</li>
                    <li>Création d'un serveur en Golang</li>
                </ul>
            </li>

            <li>
                <strong>Forum mai 2023 | juin 2023</strong>
                <ul>
                    <li>Mon rôle en tant que développeur web :</li>
                    <li>Création de pages web responsive (vanilla)</li>
                    <li>mise en place d'un serveur en Golang</li>
                    <li>gestion d'une bdd sqlite</li>
                </ul>
            </li>

            <li>
                <strong>EasyPitch</strong>
                <p style="padding-right: 50%;">EasyPitch, porté par Alexandre Cenis, un professeur de communication à
                    Ynov. L'objectif de ce projet
                    est de nous aider, étudiants, à préparer nos présentations orales.</p>
                <ul>
                    <li>Mon rôle en tant que développeur application :</li>
                    <li>Création de pages en kotlin sur android studio</li>
                    <li>arbre de choix en java</li>
                    <li>Maquette figma</li>
                </ul>
            </li>

            <li>
                <strong>Couple & famille</strong>

                <ul>
                    <li>Mon rôle en tant que développeur web:</li>
                    <li>Création de pages web responsive (vanilla)</li>
                    <li>Maquette figma</li>
                </ul>
            </li>
        </ul>
    </div>

</div>