.card,
.card1 {
    background-color: #282828;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    max-width: 450px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    margin: 0;
    /* Assurez-vous qu'il n'y a pas de marge extérieure supplémentaire */
}

.card1 {
    background-color: #282828;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    /* max-width: 350px; Retiré parce que grid s'en occupe */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    margin: 0;
    grid-column: 1 / -1;
    /* Prend toute la largeur */
    grid-row: 1;
    /* Place .card1 en haut de la grille */
    /* Hauteur supplémentaire si nécessaire */
    height: auto;
    /* ou une valeur spécifique comme 400px */
}

.profile-image {
    width: 350px;
    height: 150px;
    border-radius: 50%;

    /* Assurez-vous que l'image ne dépasse pas des coins arrondis */
}

.profile-image img {
    width: 350px;
    /* L'image remplira complètement le conteneur .profile-image */
}

.box {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 150px;
}
@media (min-width: 1501px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
        /* Quatre colonnes sur les grands écrans */
        grid-gap: 20px;
        /* Plus d'espace entre les colonnes */
        padding: 20px;
        /* Plus de padding autour de la grille */
    }

    .card,
    .card1 {
        padding: 30px;
        /* Plus de padding à l'intérieur des cartes */
        margin: 0;
        /* Assurez-vous qu'il n'y a pas de marge extérieure supplémentaire */
        max-width: none;
        /* Les cartes peuvent s'étendre plus librement */
    }

    .card1 {
        grid-column: 1 / -1;
        /* Prend toute la largeur */
        grid-row: 1;
        /* Place .card1 en haut de la grille */
        /* Hauteur supplémentaire si nécessaire */
        height: auto;
        /* ou une valeur spécifique comme 400px */
    }

    /* Vous pouvez également ajuster d'autres éléments de style si nécessaire */
}
@media only screen and (max-width: 350px) {

    .card,
    .card1 {
        padding: 10px;
        /* Moins de padding à l'intérieur des cartes pour économiser de l'espace */
        max-width: none;
        /* Permet aux cartes de s'étendre à toute la largeur */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Une ombre portée plus subtile pour les petits écrans */
        max-width: 150px;
    }

    .tags {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0px;
    }

    .tag {
        background-color: red;
        color: #fff;
        border-radius: 16px;
        padding: 5px 10px;
        font-size: 22px;
    }
    .description{
        width: 9em;
    }

}
@media only screen and (max-width: 550px) {
    .box {
        grid-template-columns: 1fr;
        grid-gap: 50px;
        padding: 50px;
    }

    .card,
    .card1 {
        padding: 10px;
        max-width: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 250px;
    }

    .card1 {
        grid-column: 1 / -1;
    }

    .card img,
    .card video {
        width: 100%;
        height: auto;
    }

    .card,
    .card1,
    .tags {
        font-size: 0.8em;
        
    }
    .description{
        width: 11em;
    }
   
}
.tags {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 10px;
}
.mon-composant-container {
    // background: radial-gradient(circle 150px at center, var(--clr-bg), #EEEEEE);EEEEEE
    // background: radial-gradient(var(--clr-bg), #ffff);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    --clr-neon: #263238;
    --clr-bg: #fffffF;
    box-sizing: border-box;
    margin: 0;
}
.neon-button {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  position: relative;

}



.neon-button::after {
  content: "";
  position: absolute;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;

}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
.tag {
    background-color: #7AAAEA;
    color: #fff;
    border-radius: 16px;
    padding: 5px 10px;
    font-size: 10px;
}
@media (min-width:1550px) {
    .tag {

        width: 6em;
        height: 2em;
        align-items: center;
        text-align: center;
        margin: 30px;
        font-size: 10px;
    }
}
@media (min-width: 2000px) {
    * {
        font-size: 1.2em;
    }
}
@media (min-width: 1500px) and (max-width: 2000px) {
    * {
        font-size: 1.3em;
    }
}