<div class="box">
    <div class="card1">
        <div class="header">
            <div class="profile-image">              
                <img src="../../assets/img/logocoupleetfamille.jpg" alt="Player Image">
            </div>
            <h2>Couple et Famille</h2>
        </div>
        <p class="description">L'association Couple et famille a pour objectif de résoudre les conflits familiaux et de
            couple. Cette association n'était pas du tout présente en ligne, le site est une vitrine de ce que
            l'association propose en matière de services. J'ai développé le site en HTML, CSS et Javascript, il est
            compatible avec les appareils mobiles.</p>

        
        <div class="tags">
            <div class="tag">Figma</div>
            <div class="tag">HTML</div>
            <div class="tag">CSS</div>
            <div class="tag">JavaScript</div>
        </div>

    </div>
    <div class="mon-composant-container">
        <a href="https://couplefamillelyon.com" class="neon-button">
            <span style="margin-right: 10px;">Visiter Couple et Famille</span><i class="fa fa-mouse-pointer" aria-hidden="true"></i>
        </a>
    </div>
</div>